{% for message in app.flashes('success') %}
    <div class="messageBon">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('warning') %}
    <div class="messageMauvais">
        {{ message }}
    </div>
{% endfor %}