{% extends "base.html.twig" %}

{% block stylesheets%}  
<link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Edition du mot de passe</h1>


        {% for message in app.flashes('warning') %}
			<div>
				{{ message }}
			</div>
		{% endfor %}

        {{ form(form) }}

    </div>
{% endblock %}