{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Formulaire d'inscription</h1>

        {% for message in app.flashes('warning') %}
			<div>
				{{ message }}
			</div>
		{% endfor %}

        {{ form(form) }}

    </div>
{% endblock %}